/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/
/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/
/*
.wrapper {
height: auto;
width: 1000px;
margin: 0 auto;

}
*/
header {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50rem;
  diplay: flex;
  flex-direction: row;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50rem;
  diplay: flex;
  flex-direction: row;
}

.harryimage {

  /*diplay: flex;
  flex-direction: row;
  align-content: flex-end;*/
  float: right;
  border: 1px solid #000;
  width: 20%;
  margin-right: 4rem;
  /*margin-left: 30em;*/
  /*margin-top: .1em;
  margin-bottom: .1em;*/
  border-radius: 50%;

}
/*
#hphoto {

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100px;
  width: 100px;

}*/

/*footer {
  clear: both;
  diplay: flex;
  flex-direction: row;
}*/


/*
  ========================================
  Typography
  ========================================
*/

h2, h4, h5 {
  margin-bottom: .03em;
}

p {
  margin-bottom: .03em;
  padding: 1em;
}

h1 {
  margin: .4em;
  padding: 1em;
}

h3 {
  margin-top: .03em;
  margin-bottom: .03em;
}

h2 {
  text-decoration: none;
  font-weight: bold;
}

.page-title {
  font-weight: 100;
  font-size: 2.5em;
  padding: .02em;
  color: #204156;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header {
  text-align: center;
  font-weight: 100;
  /*margin: 20rem;*/
}

.typewriter {
    font-family: Consolas, monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    diplay: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
}

#tableHead {
  padding-top: 2em;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 2em;

}

#tableBody {
  padding-top: 2em;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1em;
  margin-left: 0em;

}

td {
  padding: 1em;
}

#appTitle {
  margin-left: 0em;
  diplay: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0em;
}


/*
  ========================================
  Buttons
  ========================================
*/

.contact-btn {
  float: right;
  margin-right: 2em;
}

.contact-btn a {
  cursor: pointer;
  margin-right: .05em;
  padding: .3em .4em;
  position: relative;

}

.contact-btn a:active {
  top: 2px;

}

nav {
  background-color: #FFF;
  border-bottom: 1px solid #000;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1em;
  margin-right: 3em;
  padding: .1em;

}

nav li {
  display: inline;
  margin: 1em;
  padding: .01em;
}

nav ul {
  display: inline;
}

nav a {
  height: .06em;
  line-height: 3em;
  color: #204156;
  text-decoration: none;
}

a {
  color: #204156;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: underline;
  color: #204156;
}

/*
  ========================================
  Home
  ========================================
*/

#fishermanBackground {
  background-image: url('assets/Fishermanbackground.jpg');
  display: block;
  margin: 0;
  background-size: cover;
}

.bio {

  margin-right: 3em;
  padding-top: .031em;
  padding-bottom: 2em;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;

}

body {
  font-family: 'Lato', sans-serif;
  /*background-image: url('assets/Fishermanbackground.jpg');*/

}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

#projectsBackground {
  /*background-color: white;*/
  /*background-position: center top;*/
  margin: 0;
 /* background-image:
    url("https://pixabay.com/photo-1667478/");*/
  background-image:url("assets/projects_background.jpg");
  background-position: center top;
  background-size: cover;
}

/*.weird {
}*/

.projects {
  padding: 0;
  margin: 0;
  diplay: flex;
  flex-direction: row;

}

.weatherIcon {
  max-width: 8em;
  border: 1px solid black;
}

.quotesIcon {
  max-width: 10em;
  border: 1px solid black;
}

#tableHead {

  padding-left: .5em;


}
/*

#backtotop {
  color: white;
}
*/

/*
  ========================================
  Media Responsivity
  ========================================
*/

@media only screen and (max-width: 800px) {
    body, html {

      width: 100%;
      margin: 0;
      /*display: flex;
      flex-direction: column;
      margin: 0;*/
    }
    header {
      width: 100%;
      padding: 0em;
    }

    .page-title {
      display: inline-flex;
      /*align-items: flex-start;*/
      /*padding-left: .5em;*/
      /*margin: 0;
      margin-top: 5em;
      margin-bottom: 5em;*/
      width: 80%;
      font-size: 2.1em;
      padding-top: .1em;
      padding-bottom: .1em;
      margin-top: .1em;
      margin-bottom: .1em;
    }

  #fishermanBackground {
  background-image: url('assets/Fishermanbackground.jpg');
  display: block;
  position: center-top;
  margin: 0em;
  width: 100%;
  padding: .5em;
  /*background-size: 100% 100%;*/
}

.bio {
  margin-right: 3em;
  padding-top: .031em;
  padding-bottom: 4em;
  diplay: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

    .container {
      padding-left: .2em;
      padding-right: .2em;
      margin: 0em;
      width: 100%;
    /*  width: 25em;*/


    }

    .harryimage {

      float: right;
      border: 1px solid #000;
      width: 10rem;
      margin-right: 4rem;
      /*margin-left: 30em;*/
      /*margin-top: .1em;
      margin-bottom: .1em;*/
      border-radius: 50%;

    }

  #projectsBackground {
  /*background-color: white;*/
  /*background-position: center top;*/
  display: block;
  margin: 0em;
  padding: .5em;
  background-image:url("assets/projects_background.jpg");
  /*background-position: center bottom;
  background-size: 100% 100%;*/
  position: center-bottom;
  width: 100%;
}

  nav {
  height: 3.5em;
  line-height: 3.5em;
  /*width: 100%;*/
  background-color: #FFF;
  border-bottom: 1px solid #000;
  /*diplay: flex;
  flex-direction: row;
  justify-content: flex-start;*/
  margin-left: 1em;
  margin-right: 1em;
  padding: .1em;

}

  nav a {
  font-size: 1em;
  padding: .2em;
  margin: .1em
}

nav li {
  display: inline;
  margin: .6em;
  padding: .01em;
}

nav ul {
  display: inline;
}

.contact-btn {
  margin-right: 1.5em;
}

p {
  padding: .6em;
}

#tableHead {
  padding-top: 2em;
  padding-left: .5em;
  diplay: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;


}

#appTitle {
  margin-left: 0em;
  diplay: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0em;
}

.weatherIcon {
  max-width: 5em;
  border: 1px solid black;
}

.quotesIcon {
  max-width: 6em;
  border: 1px solid black;
}

}
